/* Base */
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --page-padding: 450px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--col-secondary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--col-primary);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
img {
  user-select: none;
  pointer-events: none;
}
h2 {
  font-size: 40px;
}
h2 span.large {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}
* {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  box-sizing: border-box;
  color: var(--text-col-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
section {
  padding: 0 var(--page-padding) 0 var(--page-padding);
  display: block;
}
*[role="button"] {
  cursor: pointer;
}
a {
  text-decoration: unset;
  color: var(--col-link);
}
span.divider {
  opacity: 0.4;
  letter-spacing: -5px;
  margin: 0 7px 0 7px;
  font-weight: 900;
}
p {
  line-height: 26px;
}
/* Grid */
div.row {
  display: flex;
  width: 100%;
}
div.col {
  display: inline-block;
}
div.col.one {
  width: calc((100%/0)*1);
}
div.col.two {
  width: calc((100%/12)*2);
}
div.col.three {
  width: calc((100%/12)*3);
}
div.col.four {
  width: calc((100%/12)*4);
}
div.col.five {
  width: calc((100%/12)*5);
}
div.col.six {
  width: calc((100%/12)*6);
}
div.col.seven {
  width: calc((100%/12)*7);
}
div.col.eight {
  width: calc((100%/12)*8);
}
div.col.nine {
  width: calc((100%/12)*9);
}
div.col.ten {
  width: calc((100%/12)*10);
}
div.col.eleven {
  width: calc((100%/12)*11);
}
div.col.twelve {
  width: calc((100%/12)*12);
}
@media screen and (max-width: 1800px) {
  :root {
    --page-padding: 300px;
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --page-padding: 100px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --page-padding: 20px;
  }
}
/*# sourceMappingURL=base.css.map */