:root {
  --shadow: 0px 0px 20px var(--shadow-color);
  --shadow-large: 0px 0px 10px var(--shadow-color);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-col-primary: #282828;
  --text-col-secondary: white;
  --text-col-light: #27343d;
  --col-dashboard-panes: #f0f5f5;
  --col-background: white;
  --col-primary: #141b1f;
  --col-secondary: #282828;
  --col-tertiary: #27343d;
  --col-accent: #bebebe;
  --col-light: #788c96;
  --col-error: red;
  --col-warning: orange;
  --col-notice: #00a6e8;
  --col-link: #568aba;
  --col-overlay: rgba(255, 255, 255, 0.75);
  --col-overlay-dark: rgba(20, 20, 20, 0.75);
}
/*# sourceMappingURL=colors.css.map */