:root {
    --shadow: 0px 0px 20px var(--shadow-color);
    --shadow-large: 0px 0px 10px var(--shadow-color);
    --shadow-color: rgba(0,0,0,.2);
    --text-col-primary: rgb(40,40,40);
    --text-col-secondary: white;
    --text-col-light: #27343d;
    --col-dashboard-panes: rgb(240,245,245);
    --col-background: white;
    --col-primary: #141b1f;
    --col-secondary: rgb(40,40,40);
    --col-tertiary: #27343d;
    --col-accent: rgb(190,190,190);
    --col-light: rgb(120,140,150);
    --col-error: red;
    --col-warning: orange;
    --col-notice: #00a6e8;
    --col-link: rgb(86, 138, 186);
    --col-overlay: rgba(255,255,255,.75);
    --col-overlay-dark: rgba(20,20,20,.75);
}