footer {
    display: block;
    width: 100%;
    padding: 30px var(--page-padding) 30px var(--page-padding);
    background: var(--col-primary);
    margin-top: 150px;
}
footer * {
    color: var(--text-col-secondary);
    line-height: 22px;
    font-size: 14px;
}
footer > hr {
    border-color: var(--col-accent);
    opacity: .75;
}
footer a, footer a * {
    color: rgba(255,255,255,.5);
}
footer div.block.social a * {
    color: var(--text-col-secondary);
    text-decoration: none;
    font-size: 16px;
}
footer li,
footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 26px;
}
.top_area {
    width: 100%;
    text-align: center;
}
.lower_area {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.lower_area .block {
    display: inline-block;
    width: 25%;
    padding: 0 15px 0 15px;
}
.lower_area .block h6 {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 20px 0;
}
.lower_area .block hr {
    width: 40px;
    border: none;
    height: 2px;
    margin-left: 0;
    background: var(--col-background);
    margin-bottom: 20px;
}
.lower_area .block i {
    font-size: 25px;
}
.lower_area .block.social a {
    margin-right: 10px;
}
.lower_area .block.social a:last-of-type {
    margin-right: 0;
}
footer .bottom_area {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
footer .bottom_area span {
    color: var(--col-accent);
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .lower_area .block {
        width: 50%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 600px) {
    .lower_area .block {
        width: 100%;
        margin-bottom: 50px;
    }
    footer {
        text-align: center;
    }
}