div#navbar_backlay {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
}
div#navbar_wrapper {
    position: sticky;
    top: 0;
    z-index: 900;

    div#navbar_container {
        display: block;
        width: 100%;
        padding: 35px var(--page-padding) 35px var(--page-padding);
        background: var(--col-background);
        transition: .2s ease;
        position: sticky;
        top: 0;
        z-index: 999;
        box-shadow: var(--shadow);
    }
    div#navbar_container * {
        font-family: 'Montserrat',sans-serif;
    }
    div#navbar_container div.inner {
        display: flex;
        height: 30px;
        width: 100%;

        > a {
            flex-grow: 100;
            height: 100%;
        }
        div.logo_container {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat;
            background-image: url("/media/logo-black.png");
        }
        div.menu_container {
            padding: 12px 0 12px 0;
        }
        div.menu_container button {
            height: 100%;
            border-left: 1px solid var(--col-accent);
            padding: 0 20px 0 20px;
        }
        div.menu_container a:first-of-type button {
            border: none;
        }
        div.menu_container a:last-of-type button {
            padding-right: 0;
        }
    }
}