#tracking_overlay_container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
#tracking_overlay_container .tracking_overlay_inner {
  display: block;
  background: var(--col-background);
  border-radius: 5px;
  max-width: 92%;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#tracking_overlay_container .tracking_overlay_inner > div {
  display: block;
  width: 100%;
}
#tracking_overlay_container .tracking_overlay_inner .text {
  padding: 20px;
}
#tracking_overlay_container .tracking_overlay_inner .text span {
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}
#tracking_overlay_container .tracking_overlay_inner .text p {
  line-height: 21px!important;
  margin: 0!important;
}
#tracking_overlay_container .tracking_overlay_inner .button_container {
  margin-top: 10px;
  display: flex;
}
#tracking_overlay_container .tracking_overlay_inner .button_container button {
  width: 50%;
  height: 40px;
}
#tracking_overlay_container .tracking_overlay_inner .button_container button:first-of-type {
  background: var(--col-primary);
  color: var(--text-col-secondary);
  border-radius: 0 0 0 5px;
}
/*# sourceMappingURL=tracking-consent.css.map */